<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>

    </head>
    <body>

        {{text}}

        {{#each numbers}}
            {{plusone this}}
        {{/each}}
        
    </body>
</html>
