<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>

    </head>
    <body>
        Hello World
        <a href="/test">Test Page 1</a>
        <a href="/anothertest">Another Test</a>
    </body>
</html>
